input[type=number] {
    width: 64px;
}

input[type="button"] {
    width: 128px;
    height: 24px;
    margin: 2px;
}

.pb {
    font-weight: bold;
}

.lines {
    display: flex;
    gap: 48px;
}

fieldset {
    width: fit-content;
}
